nav img {
    width: 100%;
    height: 72px;
    object-fit: cover;
}

.slide-section img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.history img {
    width: 100%;

}

.hero-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.history-section {
    background: #d8b1b6;
    padding: 60px 20px;
}

.history-img {
    width: 100%;
    border-radius: 10px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

#zoomOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

#zoomOverlay img {
    width: 50%;
    max-height: 80%;
    border-radius: 10px;
    margin-bottom: 15px;
}

#downloadZoomed {
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

#closeZoom {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}




.inner-about img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.inner-about {
    position: relative;

}

.inner-about a {
    text-decoration: none;
    color: #fff;
}

.inner-about::after {
    position: absolute;
    content: '';
    background-color: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.inner-about .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    text-transform: uppercase;
    text-align: center;

}

.inner-about .content h2 {
    font-size: 32px;
    font-weight: 800;
    color: #fff;
}

.inner-about .content p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}



.contact-card {
    background: #ffffff;
    padding: 28px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;

}

.column-dex {
    padding-bottom: 192px;
}

.contact-card h4 {
    font-weight: 600;
}